body {
    font: 2vmin 'Roboto', sans-serif;
    background-color: #123;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#overlay {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;
}


#canvas, .dialog {
    position: absolute;
}


button {
    background-color: #1e1e1e;
    border: rgba(255, 255, 255, 0.4) 1px solid;
    cursor: pointer;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: calc(min(2vh, 24px));
    padding: 8px;
    min-height: 48px;
    min-width: 72px;
    border-radius: 8px;
    transition: background-color 0.2s;
}


input {
    background-color: #1e1e1e;
    border: rgba(255, 255, 255, 0.4) 1px solid;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: calc(min(2vh, 24px));
    padding: 8px;
    min-height: 48px;
    min-width: 72px;
    border-radius: 8px;
}


.margin {
    margin: 8px;
}


.object-container {
    margin: 8px;
    background: rgba(158, 158, 158, 0.2);
    border-radius: 10px;
}


.left-drawer {
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20vw;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 8px;
    border-radius: 8px;
}


.glassy {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
}


.horizontal {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}


.toast {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 8px;
    padding: 8px;
    color: #fff;
    text-align: center;
    background-color: rgba(60, 214, 55, 0.5) !important
}