body {
    font: 2vmin 'Roboto', sans-serif;
    background-color: #123;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#overlay {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;
}


#canvas, .dialog {
    position: absolute;
}


h1 {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-top: 8px;
}


.header h1 {
    margin: auto;
}


.times-container {
    overflow-y: auto;
    max-height: 60%;
    margin-left: 16px;
    margin-right: 16px;
}


.times-container::-webkit-scrollbar {
    background-color: transparent;
}


.times-container::-webkit-scrollbar-thumb {
    background-color: #123;
    border-radius: 8px;
}


.times-container::-webkit-scrollbar-thumb:hover {
    background-color: #1e1e1e;
}


.times-container::-webkit-scrollbar-thumb:active {
    background-color: #2e2e2e;
}


.times-container::-webkit-scrollbar-track {
    background-color: transparent;
}


.level-times-table {
    width: 100%;
}


.controls-table, .level-times-table {
    margin: auto;
    height: 80%;
    padding: 16px;
}


.controls-table td {
    padding: 8px;
    background-color: #123;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
}


.level-selection, .level-done-dialog, .settings-dialog {
    text-align: center;
    color: aliceblue;
    width: 30vmax;
    height: 30vmax;
    max-height: 60vh;
    max-width: 60vw;
    transition: all 0.1s ease-in-out;
}


.controls-dialog {
    text-align: center;
    color: aliceblue;
    width: 30vmax;
    height: 40vmax;
    max-height: 70vh;
    max-width: 60vw;
    transition: all 0.1s ease-in-out;
}


.close-button {
    cursor: pointer;
    height: 100%;
}


.level-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 16px;
    height: 50%;
}


.level-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    min-height: 36px;
}


.level {
    padding: 6%;
    border-radius: 8px;
    border: rgba(255, 255, 255, 0.4) 1px solid;
    cursor: pointer;
    transition: scale 0.1s ease-in-out;
}


.level:hover {
    scale: 1.1;
}


.level-time {
    margin: 16px;
    padding: 6%;
    border-radius: 8px;
    border: rgba(255, 255, 255, 0.4) 1px solid;
}


.button-container {
    position: absolute;
    bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


.glassy {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
}


button {
    background-color: #1e1e1e;
    border: rgba(255, 255, 255, 0.4) 1px solid;
    cursor: pointer;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: calc(min(2vh, 24px));
    padding: 8px;
    min-height: 48px;
    min-width: 72px;
    border-radius: 8px;
    transition: background-color 0.2s;
}


button:hover:enabled {
    background-color: #2e2e2e;
}


button:disabled {
    opacity: 0.5;
    cursor: default;
}


input {
    background-color: #1e1e1e;
    border: rgba(255, 255, 255, 0.4) 1px solid;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: calc(min(2vh, 24px));
    padding: 8px;
    min-height: 48px;
    min-width: 72px;
    border-radius: 8px;
}


.vertical {
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.horizontal {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}


@media screen and (max-width: 1000px) and (orientation: landscape) {
    .level-selection, .controls-dialog, .settings-dialog, .level-done-dialog {
        font-size: 4vmin;
        width: 80vmax;
        height: 80vmax;
        max-height: 70vh;
        max-width: 400px;
        top: 10vh;
    }


    .controls-dialog {
        font-size: 4vmin;
        width: 80vmax;
        height: 80vmax;
        max-height: 80vh;
        max-width: 400px;
        top: 10vh;
    }


    .level-container {
        height: 50%;
    }


    .level {
        padding: 4%;
    }
}


@media screen and (max-width: 1000px) and (orientation: portrait) {
    .level-selection, .controls-dialog, .settings-dialog, .level-done-dialog {
        font-size: 4vmin;
        width: 70vw;
        height: 50vh;
        max-height: 600px;
        max-width: 70vw;
        top: 10vh;
    }


    .controls-dialog {
        font-size: 4vmin;
        width: 70vw;
        height: 70vh;
        max-height: 800px;
        max-width: 70vw;
        top: 10vh;
    }


    .level-container {
        height: 60%;
    }


    .level {
        padding: 4%;
    }
}