body {
    background-color: #123;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#overlay {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;
}


#canvas, .level-selection {
    position: absolute;
}


h1 {
    margin: 0;
    padding: 0;
}


.header {
    padding: 8px;
    margin-top: 8px;
}


.level-selection {
    font: 2vmin 'Roboto', sans-serif;
    text-align: center;
    color: aliceblue;
    width: 30vmax;
    height: 30vmax;
    max-height: 60vh;
    max-width: 60vw;
    transition: all 0.1s ease-in-out;
}


.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}


.level-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 16px;
    height: 50%;
}


.level-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    min-height: 36px;
}


.level {
    padding: 6%;
    border-radius: 8px;
    background-color: #1e1e1e;
    border: rgba(255, 255, 255, 0.4) 1px solid;
    cursor: pointer;
    transition: scale 0.1s ease-in-out;
}


.level:hover {
    scale: 1.1;
}


.button-container {
    position: absolute;
    bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


.glassy {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
}


button {
    background-color: #1e1e1e;
    border: rgba(255, 255, 255, 0.4) 1px solid;
    cursor: pointer;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: calc(min(1.5vh, 12px));
    height: calc(max(4vh, 48px));
    width: calc(max(6vh, 72px));
    min-height: 48px;
    min-width: 72px;
    border-radius: 8px;
    transition: background-color 0.2s;
}


button:hover:enabled {
    background-color: #2e2e2e;
}


button:disabled {
    opacity: 0.5;
    cursor: default;
}


@media screen and (max-width: 1000px) and (orientation: landscape) {
    .level-selection {
        font-size: 4vmin;
        width: 80vmax;
        height: 80vmax;
        max-height: 70vh;
        max-width: 400px;
        top: 10vh;
    }


    .level-container {
        height: 50%;
    }


    .level {
        padding: 4%;
    }
}


@media screen and (max-width: 1000px) and (orientation: portrait) {
    .level-selection {
        font-size: 4vmin;
        width: 70vw;
        height: 50vh;
        max-height: 600px;
        max-width: 70vw;
        top: 10vh;
    }


    .level-container {
        height: 60%;
    }


    .level {
        padding: 4%;
    }
}